.table-card {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    padding-bottom: 10px;
}

.table {
    width: 100%;
    min-width: 600px;
    border-spacing: 0 15px;
    border-collapse: separate;
}

.table td {
    padding: 15px;
    background: white;
    border-bottom: 1px solid #eee;
    vertical-align: middle;
    white-space: nowrap;
}

.table th {
    text-align: left;
    padding: 10px 15px;
    color: #666;
    text-transform: uppercase;
    font-size: 0.85rem;
    font-weight: 700;
}

.profile-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}